/* Element Plus 黑白主题定制 */

:root {
  /* 主色调 - 黑白系列 */
  --el-color-primary: #000000;
  --el-color-primary-light-3: #333333;
  --el-color-primary-light-5: #666666;
  --el-color-primary-light-7: #999999;
  --el-color-primary-light-8: #b3b3b3;
  --el-color-primary-light-9: #cccccc;
  --el-color-primary-dark-2: #000000;

  /* 成功色 */
  --el-color-success: #67c23a;
  --el-color-success-light-3: #95d475;
  --el-color-success-light-5: #b3e19d;
  --el-color-success-light-7: #d1edc4;
  --el-color-success-light-8: #e1f3d8;
  --el-color-success-light-9: #f0f9eb;
  --el-color-success-dark-2: #529b2e;

  /* 警告色 */
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #eebe77;
  --el-color-warning-light-5: #f3d19e;
  --el-color-warning-light-7: #f8e3c5;
  --el-color-warning-light-8: #faecd8;
  --el-color-warning-light-9: #fdf6ec;
  --el-color-warning-dark-2: #b88230;

  /* 危险色 */
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #f78989;
  --el-color-danger-light-5: #fab6b6;
  --el-color-danger-light-7: #fcd3d3;
  --el-color-danger-light-8: #fde2e2;
  --el-color-danger-light-9: #fef0f0;
  --el-color-danger-dark-2: #c45656;

  /* 信息色 */
  --el-color-info: #909399;
  --el-color-info-light-3: #b1b3b8;
  --el-color-info-light-5: #c8c9cc;
  --el-color-info-light-7: #dedfe0;
  --el-color-info-light-8: #e9e9eb;
  --el-color-info-light-9: #f4f4f5;
  --el-color-info-dark-2: #73767a;

  /* 中性色 */
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-text-color-primary: #000000;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #c0c4cc;
  --el-text-color-disabled: #c0c4cc;

  /* 边框颜色 */
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d3d4d6;
  --el-border-color-darker: #cdd0d6;

  /* 填充色 */
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;

  /* 背景色 */
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;

  /* 组件尺寸 */
  --el-component-size-large: 40px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;
}

/* 按钮黑白主题 */
.el-button {
  &.el-button--primary {
    background-color: var(--el-color-primary);
    border-color: var(--el-color-primary);

    &:hover,
    &:focus {
      background-color: var(--el-color-primary-light-3);
      border-color: var(--el-color-primary-light-3);
    }

    &:active {
      background-color: var(--el-color-primary-dark-2);
      border-color: var(--el-color-primary-dark-2);
    }
  }
}

/* 输入框黑白主题 */
.el-input {
  &.is-focus .el-input__wrapper {
    border-color: var(--el-color-primary);
    box-shadow: 0 0 0 1px var(--el-color-primary) inset;
  }

  .el-input__wrapper {
    &:hover {
      border-color: var(--el-color-primary-light-3);
    }
  }
}

/* 选择器黑白主题 */
.el-select {
  .el-select__wrapper {
    &:hover {
      border-color: var(--el-color-primary-light-3);
    }
  }

  &.is-focus .el-select__wrapper {
    border-color: var(--el-color-primary);
    box-shadow: 0 0 0 1px var(--el-color-primary) inset;
  }
}

/* 菜单黑白主题 */
.el-menu {
  &.el-menu--dark {
    background-color: var(--el-color-black);

    .el-menu-item {
      &:hover {
        background-color: var(--el-color-primary-light-3);
      }

      &.is-active {
        background-color: var(--el-color-primary);
        color: var(--el-color-white);
      }
    }
  }
}

/* 卡片黑白主题 */
.el-card {
  border-color: var(--el-border-color);

  .el-card__header {
    border-bottom-color: var(--el-border-color-lighter);
    background-color: var(--el-fill-color-light);
  }
}

/* 表格黑白主题 */
.el-table {
  th.el-table__cell {
    background-color: var(--el-fill-color-light);
    color: var(--el-text-color-primary);
  }

  .el-table__row {
    &:hover > td.el-table__cell {
      background-color: var(--el-fill-color);
    }
  }
}

/* 分页黑白主题 */
.el-pagination {
  .el-pager li {
    &.is-active {
      background-color: var(--el-color-primary);
      color: var(--el-color-white);
    }
  }
}

/* 标签页黑白主题 */
.el-tabs {
  .el-tabs__item {
    &.is-active {
      color: var(--el-color-primary);
    }
  }

  .el-tabs__active-bar {
    background-color: var(--el-color-primary);
  }
}

/* 复选框和单选框黑白主题 */
.el-checkbox {
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: var(--el-color-primary);
    border-color: var(--el-color-primary);
  }
}

.el-radio {
  .el-radio__input.is-checked .el-radio__inner {
    background-color: var(--el-color-primary);
    border-color: var(--el-color-primary);
  }
}